<div class="container">
  <div class="avatar">
    <img src="" alt="" />
  </div>
  <div class="menu">
    <img src="https://raw.githubusercontent.com/Sourabh0321/sourabhslogos/befa1b60fdf28fd08cd90bf7d74403a86da49b25/group.svg" alt="" />
    <img src="https://raw.githubusercontent.com/Sourabh0321/sourabhslogos/befa1b60fdf28fd08cd90bf7d74403a86da49b25/status.svg" alt="" />
    <img src="https://raw.githubusercontent.com/Sourabh0321/sourabhslogos/befa1b60fdf28fd08cd90bf7d74403a86da49b25/message.svg" alt="" />
    <img src="https://raw.githubusercontent.com/Sourabh0321/sourabhslogos/befa1b60fdf28fd08cd90bf7d74403a86da49b25/dots.svg" alt="" />
  </div>
</div>
