<div class="container">
  <div class="avatar">
    <img src="https://pps.whatsapp.net/v/t61.24694-24/358158929_1223102281688380_1608913610972200299_n.jpg?ccb=11-4&oh=01_AdRcYTD2O2E1TPH17rwtaeYKX0obvKkfiE060Vhu_BRawA&oe=64E04BC4" alt="" />
  </div>
  <div class="details">
    <div class="name">
    <p class="p-name">Sourabh Vankudre</p>
    <p class="p-time">1:30pm</p>
    </div>
    <div class="recent">
    <p class="message">Kutay be.Kiti vel aajun</p>
    <p class="count">729</p>
    </div>
  </div>
</div>
